workflow_bot_listener.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e9de06a2-1334-4b48-826d-74d8afd8d167",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -32,
        -16
      ],
      "id": "c72d45ed-c7d8-4570-8bd0-f5f9a9939512",
      "name": "Webhook",
      "webhookId": "e9de06a2-1334-4b48-826d-74d8afd8d167"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Ты - ИИ-ассистент, который анализирует историю сообщений из чата. На вход ты получаешь JSON-массив с результатами SQL-запроса, содержащего сообщения пользователей. Твоя задача - определить основные темы обсуждения и сгруппировать сообщения по этим темам. Отвечай только на русском\n\nСтруктура входных данных:\nКаждый элемент массива содержит:\n- id пользователя\n- t_name (username)\n- user_created_at (дата создания пользователя)\n- text (текст сообщения)\n- message_created_at (дата создания сообщения)\n\nТребования к обработке:\n1. Анализируй только поле `text` (текст сообщений)\n2. Игнорируй техническую информацию (id, даты и т.д.)\n3. Выяви 3-5 основных тем обсуждения\n4. Для каждой темы подбери краткое описательное название (1-3 слова)\n\nФормат вывода:\nВерни JSON-объект в следующем формате:\n{\n  \"Тема1\": [\n    {\"user\": \"username1\", \"text\": \"сообщение1\"},\n    {\"user\": \"username2\", \"text\": \"сообщение2\"}\n  ],\n  \"Тема2\": [\n    {\"user\": \"username3\", \"text\": \"сообщение3\"}\n  ],\n  \"other\": [\n    {\"user\": \"username4\", \"text\": \"сообщение4\"}\n  ]\n}\n\nДополнительные указания:\n- Сохраняй оригинальный текст сообщений без изменений\n- Включай информацию об авторе сообщения (t_name)\n- Если сообщение относится к нескольким темам, дублируй его во всех соответствующих группах\n- Сообщения, не относящиеся к основным темам, помещай в группу \"other\"\n- Не добавляй пояснений - только чистый JSON\n\nПример ввода:\n[\n  {\n    \"id\": 1,\n    \"t_name\": \"user1\",\n    \"user_created_at\": \"2023-01-01T00:00:00\",\n    \"text\": \"Когда будет следующее обновление?\",\n    \"message_created_at\": \"2023-05-10T12:00:00\"\n  },\n  {\n    \"id\": 2,\n    \"t_name\": \"user2\",\n    \"user_created_at\": \"2023-01-02T00:00:00\",\n    \"text\": \"У меня проблема с авторизацией\",\n    \"message_created_at\": \"2023-05-10T12:05:00\"\n  }\n]\n\nПример вывода:\n{\n  \"Обновления системы\": [\n    {\"user\": \"user1\", \"text\": \"Когда будет следующее обновление?\"}\n  ],\n  \"Технические проблемы\": [\n    {\"user\": \"user2\", \"text\": \"У меня проблема с авторизацией\"}\n  ]\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        176,
        -16
      ],
      "id": "18cfd1c2-80ca-4f18-b736-6e042927d80f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "gemma3:12b",
        "options": {
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        176,
        176
      ],
      "id": "10f5c417-4a1e-4d18-80ba-dcab29558f7d",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "beDKBCAYsU9qnVu7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"Обновления системы\": [\n    {\"user\": \"user1\", \"text\": \"Когда будет следующее обновление?\"}\n  ],\n  \"Технические проблемы\": [\n    {\"user\": \"user2\", \"text\": \"У меня проблема с авторизацией\"}\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        160
      ],
      "id": "7b7c575e-ff2e-4104-a7b1-9c0c3a408c0c",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "952521b0-c0f9-4f43-91e1-8a44449b5383",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e91cfee06a5a79ab09170b4fb8de961d03bab75546c6917ebc569806ff3ca1bd"
  },
  "id": "3COO3ZJeNpsgmaQs",
  "tags": []
}